<li class="span8 well">
	<%= render post.categories %>
	<h4><%= link_to post.title, post_path(post) %></h4>
	<p><%= post.description %></p>
	<p><span class="quiet">posted by: <%= post.creator.username %></span>
	<br>
	<small><%= link_to (post.comments.size.to_s + " comments"), post_path(post) %></small>
</li>