<p class='pull-right'>
	[<%= link_to 'edit post', edit_post_path(@post) %>]
</p>

<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>
<p>Description: <%= @post.description %></p>
<p>Website: <%= @post.url %>
<h2 class="lead">Comments:</h2>
<ol>	
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %> ~ <a href=<%= user_path comment.user_id%>><%= comment.creator.username %></a></li>
	<% end %>
</ol>
<h5>Create Comment</h5>
<%= form_for [@post, @comment] do |f| %>
	<%= f.text_area :body %>
	<br>
	<%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>
<%= link_to 'back to index', posts_path %>